/* Custom CSS styles */
.landingVideo {
    height: 100%;
    width: 1200px;
    position: relative;
}

@media only screen and (max-width: 768px) {

    .landingVideo {
      display: none;
    }
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.bg-2  {
    width: 100%;
  }
  
  .slide-2 {
    width: 500px;
    padding: 60px;
  }

  .logo-text {
    display: flex;
    flex-direction: row-reverse;
    justify-items: center;
    width: 200px;
    justify-content: space-between;
  }

  .info-box-content {
    height: 230px;
  }

.image-box {
    height: 100px;
  }

  .img {
    height: 100px;
  }

  .slider-tabs-vertical-thumb img {
    height: 500px;
  }

  .ply path:hover {
    fill: red;
  }
  .bg-8 {
    margin-bottom: 50px;
  }


/* this section doesn't seem relevent to business, but comment out .bg-11 to view  */
  .bg-11, .bg-13{
    display: none;
  }

  .bg-pink {
    background-color: rgb(207, 164, 137);
  }